webservice/lib-cov
webservice/*.seed
webservice/*.log
webservice/*.csv
webservice/*.dat
webservice/*.out
webservice/*.pid
webservice/*.gz
webservice/pids
webservice/logs
webservice/results
webservice/npm-debug.log
webservice/node_modules
webservice/public/libs/*