./embdo-server/lib-cov
./embdo-server/*.seed
./embdo-server/*.log
./embdo-server/*.csv
./embdo-server/*.dat
./embdo-server/*.out
./embdo-server/*.pid
./embdo-server/*.gz
./embdo-server/
./embdo-server/pids
./embdo-server/logs
./embdo-server/results
./embdo-server/npm-debug.log
./embdo-server/node_modules
./embdo-server/public/libs/*